name: Build Push Containers

on:
  workflow_call:

jobs:
  build-push-container:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository }}
          labels: |
            org.opencontainers.image.vendor="GC Cloud One: Aurora"
            org.opencontainers.image.licenses="https://github.com/${{ github.repository }}/blob/main/LICENSE.md"

      - name: Log in to GitHub Container Registry
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build image 
        uses: docker/build-push-action@v5
        with:
          context: .
          load: true
          push: false
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

      - name: Trivy image scan
        uses: aquasecurity/trivy-action@0.18.0
        with:
          image-ref: ${{ steps.meta.outputs.tags }}
          format: table
          exit-code: 1
          severity: CRITICAL,HIGH

      - name: Push image
        if: github.event_name != 'pull_request'
        id: docker_push
        uses: docker/build-push-action@v5
        with:
          context: .         
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

      - name: Output Image Digest
        if: github.event_name != 'pull_request'
        run: echo "Image pushed with digest ${{ steps.docker_push.outputs.digest }}"

